@model TrackingApp.Models.Address
<div class="box">
    @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new { @class = "btn btn-info change-password" })
    <div class="address">
        @using (Html.BeginForm("ChangeAddress", "Manage"))
        {
            @Html.HiddenFor(m => m.AddressId)
            <div class="new-line-top-margin">
                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control ", placeholder = "Address" })
            </div>
            <div class="new-line-top-margin">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "Country" })
            </div>
            <div class="new-line-top-margin">
                @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State" })
            </div>
            <div class="new-line-top-margin">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
            </div>
            <div class="new-line-top-margin">
                @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control cordinates", placeholder = "Latitude" })
                @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control cordinates", placeholder = "Longitude" })
            </div>
            <div class="new-line-top-margin">
                @Html.TextAreaFor(m => m.About, new { @class = "form-control", placeholder = "About you..." })
            </div>
            <div class="new-line-top-margin">
                <input type="submit" class="btn btn-success" value="Save">
            </div>
        }
    </div>
</div>
